.tile {
  align-items: center;
  background-color: beige;
  border: 3px outset yellow;
  display: flex;
  font-size: 3rem;
  justify-content: center;
  margin: 2px;
  max-height: 4rem;
  max-width: 4rem;

  & .input[type="text"] {
    background-color: darkseagreen;
    color: white;
    cursor: pointer;
    font-family: "Courier New", Courier, monospace;
    font-size: 4rem;
    height: 3.5rem;
    text-align: center;
    text-transform: capitalize;
    width: 3.5rem;

    &.bijnaGoed {
      background-color: cornflowerblue;
    }

    &.goed {
      background-color: coral;
    }

    &:hover {
      filter: brightness(75%);
    }
  }
}
