.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    & .title {
        color: red;
        font-family: 'Permanent Marker', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 4rem;
    }
}
