.column {
  align-items: flex-start;
  background-color: dodgerblue;
  border: 3px inset lightsteelblue;
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: flex-start;
  margin: 1rem;
}
